body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*----HEADER--------*/

.header-menu-link {
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-logo-color {
  color: #2e2f42;
}

.header-logo-color:hover,
.header-logo-color:focus {
  color: #404bbf;
}

.header-logo:hover,
.header-logo:focus {
  color: #404bbf;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----------HEADER---------*/

/*------------HERO------------*/
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*------------HERO------------*/

/*------------BENEFITS---------*/

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------BENEFITS---------*/

/*-----------TEAM--------------*/
.team-caption {
  background-color: #f4f4fd;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}
/*----------------TEAM------------*/

/*-----------OUR PORTFOLIO--------*/
.portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.potf-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-----------OUR PORTFOLIO----------*/

/*-------FOOTER----------*/
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
/*--------FOOTER------*/
